<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
      Name="Trazzo Biometric Agent"
      Manufacturer="Trazzo"
      Version="$(var.ProductVersion)"
      Language="1034"
      Scope="perMachine"
      InstallerVersion="500"
      Compressed="yes"
      UpgradeCode="212DE720-3B16-4993-8D3C-625A69983856">

    <MajorUpgrade
        Schedule="afterInstallInitialize"
        AllowSameVersionUpgrades="yes"
        DowngradeErrorMessage="Ya existe una version mas reciente de Trazzo Biometric Agent instalada." />

    <MediaTemplate EmbedCab="yes" />
    <Launch Condition="VersionNT &gt;= 603" Message="Trazzo Biometric Agent requiere Windows 10 o superior." />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- banner.bmp = franja superior (493 x 58 px, 24bpp)
         dialog.bmp = panel izquierdo de bienvenida y finalizacion (493 x 312 px, 24bpp) -->
    <WixVariable Id="WixUIBannerBmp" Value="Resources\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\dialog.bmp" />

    <Feature Id="MainFeature" Title="Trazzo Biometric Agent" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentGroupRef Id="DataCleanup" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="TrazzoFolder" Name="Trazzo">
        <Directory Id="INSTALLFOLDER" Name="BiometricAgent" />
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="TrazzoAgentDataDir" Name="TrazzoAgent" />
    </StandardDirectory>

    <Property Id="TRAZZO_AGENT_DATA_DIR" Value="[CommonAppDataFolder]TrazzoAgent" />

    <ComponentGroup Id="DataCleanup">
      <Component Id="cmp_DataCleanup" Directory="TrazzoAgentDataDir" Guid="F7A3B2C1-D4E5-4F60-A8B9-C0D1E2F34567">
        <CreateFolder />
        <util:RemoveFolderEx On="uninstall" Property="TRAZZO_AGENT_DATA_DIR" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
