# --- Java / Maven ---
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IDEs y Herramientas ---
.idea
*.iws
*.iml
*.ipr
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
*.sublime-workspace
.c9/
*.launch
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- Frontend (Node/Angular/etc) ---
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log

# --- Logs y Archivos temporales ---
logs/
*.log
logs/**/*.log
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
.42c

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Configuración Privada y Seguridad (CRÍTICO) ---
.env
application.properties
application-local.properties
*.secret