openapi: 3.1.0
info:
  title: Trazzo · SaaS Global API
  description: |
    Contrato de la API del módulo **SaaS Global**: gestión de Holdings, Plans,
    Features y aprovisionamiento de Tenants desde el panel administrativo Trazzo.

    ## Base de datos
    Todas las operaciones de este módulo operan sobre `master_db`.

    ## Autenticación
    Todas las rutas requieren un JWT Bearer válido. Las rutas de administración
    (`/saas/*` y `/tenants/*`) requieren rol `ADMIN_SAAS`.

    ## Prefijos
    | Prefijo        | Contexto              | Base de datos |
    |----------------|-----------------------|---------------|
    | `/auth`        | Autenticación general | —             |
    | `/tenants`     | Aprovisionamiento     | `master_db`   |
    | `/saas/holdings` | Gestión de Holdings | `master_db`   |
    | `/saas/plans`  | Catálogo de planes    | `master_db`   |
    | `/saas/features` | Catálogo de features | `master_db`  |
  version: 3.1.0
  contact:
    name: Equipo Trazzo
servers:
  - url: https://api.trazzo.pe/api/v1
    description: Producción

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT generado por Spring Boot. Payload relevante:
        - `sub`: ID del usuario Trazzo
        - `tenant_id`: null para usuarios MASTER
        - `context`: `MASTER`

  parameters:
    HoldingId:
      name: id
      in: path
      required: true
      description: ID único del holding.
      schema:
        type: integer
        example: 1

    PlanId:
      name: id
      in: path
      required: true
      description: ID único del plan.
      schema:
        type: integer
        example: 1

    FeatureId:
      name: id
      in: path
      required: true
      description: ID único de la feature.
      schema:
        type: integer
        example: 1

  schemas:
    # ── Requests ──────────────────────────────────────────────────────────────
    HoldingRequest:
      type: object
      required: [taxId, legalName, type]
      properties:
        taxId:
          type: string
          description: RUC del holding (único globalmente).
          example: "20123456789"
        legalName:
          type: string
          description: Razón social.
          example: "Empresa SAC"
        type:
          type: string
          enum: [PUBLIC, PRIVATE]
          description: Naturaleza jurídica del holding.
          example: "PRIVATE"

    FeatureRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: "Biometric Access"
        description:
          type: string
          nullable: true
          example: "Autenticación por huella digital"

    TenantTrialRequest:
      type: object
      required: [subDomain, planId, holdingId, dbHost, dbPort, dbName, dbUser, dbPassword]
      properties:
        subDomain:
          type: string
          description: Slug único del tenant.
          example: "mi-empresa"
        planId:
          type: integer
          example: 1
        holdingId:
          type: integer
          example: 1
        dbHost:
          type: string
          example: "db.ejemplo.com"
        dbPort:
          type: string
          example: "5432"
        dbName:
          type: string
          example: "trazzo_tenant_mi_empresa"
        dbUser:
          type: string
          example: "tenant_user"
        dbPassword:
          type: string
          format: password
        logoUrl:
          type: string
          format: uri
          nullable: true
        slogan:
          type: string
          nullable: true
          example: "Conectando personas"
        primaryColor:
          type: string
          nullable: true
          example: "#3B82F6"
        secondaryColor:
          type: string
          nullable: true
          example: "#1D4ED8"

    # ── Responses ─────────────────────────────────────────────────────────────
    AuthMeResponse:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "admin@trazzo.pe"
        roles:
          type: array
          items:
            type: string
          example: ["ROLE_ADMIN_SAAS"]

    HoldingResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        taxId:
          type: string
          example: "20123456789"
        legalName:
          type: string
          example: "Empresa SAC"
        type:
          type: string
          enum: [PUBLIC, PRIVATE]
          example: "PRIVATE"
        active:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PlanResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Basic"
        price:
          type: number
          format: double
          example: 99.00
        currency:
          type: string
          example: "SOLES"
        billingPeriod:
          type: string
          enum: [MONTHLY, ANNUAL]
          example: "MONTHLY"
        active:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time

    FeatureResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Biometric Access"
        description:
          type: string
          nullable: true
          example: "Autenticación por huella digital"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TenantTrialResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-0000-0000-0000-000000000001"
        subDomain:
          type: string
          example: "mi-empresa"
        planId:
          type: integer
          example: 1
        activated:
          type: boolean
          example: false
        activatedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "Tax ID already registered: 20123456789"
        status:
          type: integer
          example: 400

security:
  - bearerAuth: []

paths:
  # ----------------------------------------
  # Autenticación
  # ----------------------------------------
  /auth/me:
    get:
      tags:
        - Autenticación
      summary: Datos del usuario autenticado
      description: |
        Devuelve el email y roles del JWT sin consultar la base de datos.
        Válido en contexto MASTER y TENANT.
      responses:
        "200":
          description: Datos del usuario.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMeResponse'
        "401":
          description: Token JWT inválido o expirado.

  # ----------------------------------------
  # Tenants
  # ----------------------------------------
  /tenants/trial:
    post:
      tags:
        - Tenants
      summary: Crear tenant en modo trial
      description: |
        Provisiona un nuevo tenant de forma atómica:
        1. Crea el registro en `master_db`
        2. Aprovisiona el schema de base de datos dedicado
        3. Configura branding inicial
        4. Activa la suscripción al plan indicado

        Si cualquier paso falla, se hace rollback completo.

        **Requiere rol:** `ADMIN_SAAS`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantTrialRequest'
      responses:
        "201":
          description: Tenant creado y aprovisionado exitosamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantTrialResponse'
        "400":
          description: Datos inválidos o subdominio ya registrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.
        "403":
          description: Sin permiso para crear tenants.

  # ----------------------------------------
  # Holdings
  # ----------------------------------------
  /saas/holdings:
    get:
      tags:
        - Holdings
      summary: Listar holdings
      description: |
        Devuelve todos los holdings no eliminados de `master_db`.
        **Requiere rol:** `ADMIN_SAAS`
      responses:
        "200":
          description: Lista de holdings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HoldingResponse'
        "401":
          description: Token JWT inválido o expirado.
        "403":
          description: Sin permiso de acceso.
    post:
      tags:
        - Holdings
      summary: Crear holding
      description: |
        Registra una empresa holding. El `taxId` (RUC) debe ser único globalmente.
        **Requiere rol:** `ADMIN_SAAS`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldingRequest'
      responses:
        "201":
          description: Holding creado exitosamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingResponse'
        "400":
          description: RUC duplicado o datos inválidos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.
        "403":
          description: Sin permiso para crear holdings.

  /saas/holdings/{id}:
    get:
      tags:
        - Holdings
      summary: Obtener holding por ID
      parameters:
        - $ref: '#/components/parameters/HoldingId'
      responses:
        "200":
          description: Datos del holding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingResponse'
        "404":
          description: Holding no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.

  /saas/holdings/{id}/activate:
    put:
      tags:
        - Holdings
      summary: Activar holding
      description: Reactiva un holding previamente desactivado.
      parameters:
        - $ref: '#/components/parameters/HoldingId'
      responses:
        "200":
          description: Holding activado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingResponse'
        "404":
          description: Holding no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.

  /saas/holdings/{id}/deactivate:
    put:
      tags:
        - Holdings
      summary: Desactivar holding
      description: Marca el holding como inactivo (baja lógica, no elimina).
      parameters:
        - $ref: '#/components/parameters/HoldingId'
      responses:
        "200":
          description: Holding desactivado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingResponse'
        "404":
          description: Holding no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.

  # ----------------------------------------
  # Plans
  # ----------------------------------------
  /saas/plans:
    get:
      tags:
        - Plans
      summary: Listar todos los planes
      description: Catálogo completo de planes de suscripción.
      responses:
        "200":
          description: Lista de planes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanResponse'
        "401":
          description: Token JWT inválido o expirado.

  /saas/plans/active:
    get:
      tags:
        - Plans
      summary: Listar planes activos
      description: |
        Solo planes con `active = true`. Usado en el flujo de alta de tenants
        para mostrar las opciones disponibles al cliente.
      responses:
        "200":
          description: Lista de planes activos.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanResponse'
        "401":
          description: Token JWT inválido o expirado.

  /saas/plans/{id}:
    get:
      tags:
        - Plans
      summary: Obtener plan por ID
      parameters:
        - $ref: '#/components/parameters/PlanId'
      responses:
        "200":
          description: Datos del plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
        "404":
          description: Plan no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.

  # ----------------------------------------
  # Features
  # ----------------------------------------
  /saas/features:
    get:
      tags:
        - Features
      summary: Listar features del catálogo
      description: Devuelve todas las features disponibles para asignar a planes.
      responses:
        "200":
          description: Lista de features.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureResponse'
        "401":
          description: Token JWT inválido o expirado.
    post:
      tags:
        - Features
      summary: Crear feature
      description: |
        Registra una nueva feature en el catálogo. Se asigna a planes
        mediante el modelo `PlanFeature`.
        **Requiere rol:** `ADMIN_SAAS`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureRequest'
      responses:
        "201":
          description: Feature creada exitosamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResponse'
        "400":
          description: Datos inválidos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.
        "403":
          description: Sin permiso para crear features.

  /saas/features/{id}:
    get:
      tags:
        - Features
      summary: Obtener feature por ID
      parameters:
        - $ref: '#/components/parameters/FeatureId'
      responses:
        "200":
          description: Datos de la feature.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResponse'
        "404":
          description: Feature no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.
    delete:
      tags:
        - Features
      summary: Eliminar feature
      description: |
        Elimina permanentemente una feature del catálogo.
        Verificar que no esté asignada a ningún plan activo.
        **Requiere rol:** `ADMIN_SAAS`
      parameters:
        - $ref: '#/components/parameters/FeatureId'
      responses:
        "204":
          description: Feature eliminada exitosamente.
        "404":
          description: Feature no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token JWT inválido o expirado.
        "403":
          description: Sin permiso para eliminar features.
