openapi: 3.0.3
info:
  title: Trazzo SaaS Integrated API Contract
  description: |
    Contrato API para la plataforma multi-tenant Trazzo.
    ## Arquitectura de bases de datos
      ```
      master_db          → Usuarios Trazzo, RolesMaster, Tenants, Plans, Permissions (catálogo)
      tenant_{slug}_db   → TenantUsers, Roles (tenant), RolePermissions, Persons, ...
      ```

      ## Separación de rutas por contexto
      | Prefijo       | Contexto         | Requiere          | Base de datos    |
      |---------------|-----------------|-------------------|-----------------|
      | `/saas/users` | Panel Trazzo    | MasterRole válido | `master_db`      |
      | `/usuarios`   | Panel Tenant    | TenantRole válido | `tenant_{slug}_db` |
      | `/incidentes` | Panel Tenant    | TenantRole válido | `tenant_{slug}_db` |
      | `/corehr`     | Panel Tenant    | TenantRole válido | `tenant_{slug}_db` |

    ## ⚠️ Breaking Changes v3.0.0
    - `/asistencia/marcar` y `/asistencia/sync` refactorizados con nuevo schema coreHR.
      Los campos `dispositivoId`, `templateCifrado`, `llaveAesCifrada` ahora usan
      los identificadores de `device.code` y `usuario_biometria` del módulo coreHR.
    - Se agrega `branch_id` (sede) obligatorio en `device`.
    - `user_shift` renombrado a `user_schedule` (tabla y endpoints).
    - Se agrega campo `minutes` (INT, 0-60) a tabla `tolerancia`.
  # Cubre Autenticación, Gestión de Usuarios, Control de Asistencia Biométrica e Incidencias.
  version: 3.0.0
servers:
  - url: https://api.trazzo.pe/api/v1
    description: Servidor Central de Producción

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT firmado por Spring Boot. El payload incluye:
        - `sub`: ID numérico del TenantUser dentro del tenant (para REST).
          Para WebSocket STOMP, el Principal es compuesto
          `{tenantUuid}:{sub}` (ver secciones WebSocket).
        - `tenant_id`: UUID del tenant (null para usuarios Trazzo)
        - `context`: `MASTER` | `TENANT`
        - `must_change_password`: boolean
    tenantHeader:
      type: apiKey
      in: header
      name: X-Tenant-ID
      description: |
        UUID del tenant. Obligatorio en todas las rutas `/usuarios/*`.
        Omitir en rutas `/saas/*`. El backend valida que coincida con
        el `tenant_id` embebido en el JWT.

  parameters:
    # ─── Parámetros de ruta ────────────────────────────────────────────────
    UsuarioId:
      name: id
      in: path
      required: true
      description: ID único del usuario (TenantUser) a operar.
      schema:
        type: integer
        example: 42

    MasterUserId:
      name: id
      in: path
      required: true
      description: ID único del usuario Trazzo (Users en master_db).
      schema:
        type: integer
        example: 7
    
    TenantIdHeader:
      name: X-Tenant-ID
      in: header
      required: true
      description: UUID del tenant al que pertenece la solicitud.
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-0000-0000-0000-000000000001"

    # ─── Query params de paginación ────────────────────────────────────────
    PageParam:
      name: page
      in: query
      required: false
      description: Número de página (base 0).
      schema:
        type: integer
        default: 0
        minimum: 0

    SizeParam:
      name: size
      in: query
      required: false
      description: Cantidad de registros por página.
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

    SortParam:
      name: sort
      in: query
      required: false
      description: "Campo de ordenamiento. Ejemplos: `father_surname,asc` | `ultimo_acceso,desc`"
      schema:
        type: string
        example: "father_surname,asc"

    # ─── Query params de filtro y scope ───────────────────────────────────
    ScopeParam:
      name: scope
      in: query
      required: false
      description: |
        Alcance de visibilidad. Solo relevante para usuarios con el permiso
        `VIEW_TENANT_USERS` pero sin `VIEW_ALL_TENANT_USERS`.
        - `MY_ASSIGNMENTS` *(default)*: usuarios de las sedes/áreas/departamentos
          a los que el solicitante está asignado.
        - `SEDE`: todos los usuarios de la sede indicada en `branch_id`.
        - `AREA`: todos los usuarios del área indicada en `area_id`.
        - `DEPARTAMENTO`: todos los usuarios del departamento indicado en `departamento_id`.
        Ignorado si el solicitante tiene `VIEW_ALL_TENANT_USERS`.
      schema:
        type: string
        enum: [MY_ASSIGNMENTS, SEDE, AREA, DEPARTAMENTO]
        default: MY_ASSIGNMENTS

    IncidentScopeParam:
      name: scope
      in: query
      required: false
      description: |
        Alcance de visibilidad para incidencias. Se resuelve segun los permisos
        del JWT y puede restringirse con los filtros de ubicacion/asignacion.
        - `ALL_TENANT`: todas las incidencias del tenant.
        - `MY_ASSIGNMENTS` *(default)*: incidencias de las sedes/areas/departamentos
          a los que el solicitante esta asignado.
        - `SEDE`: incidencias de la sede indicada en `sede_id`.
        - `AREA`: incidencias del area indicada en `area_id`.
        - `DEPARTAMENTO`: incidencias del departamento indicado en `departamento_id`.
        - `SELF`: incidencias propias del solicitante.
      schema:
        type: string
        enum: [ALL_TENANT, MY_ASSIGNMENTS, SEDE, AREA, DEPARTAMENTO, SELF]
        default: MY_ASSIGNMENTS

    AreaIdParam:
      name: area_id
      in: query
      required: false
      description: Filtra usuarios de un área específica. Requerido cuando `scope=AREA`.
      schema:
        type: integer
        example: 7

    DepartamentoIdParam:
      name: departamento_id
      in: query
      required: false
      description: Requerido cuando `scope=DEPARTAMENTO`.
      schema:
        type: integer
        example: 2

    IncidentSedeIdParam:
      name: sede_id
      in: query
      required: false
      description: Filtra incidencias por una sede especifica. Requerido cuando `scope=SEDE`.
      schema:
        type: integer
        example: 3

    IncidentAreaIdParam:
      name: area_id
      in: query
      required: false
      description: Filtra incidencias por un area especifica. Requerido cuando `scope=AREA`.
      schema:
        type: integer
        example: 7

    IncidentDepartamentoIdParam:
      name: departamento_id
      in: query
      required: false
      description: Filtra incidencias por un departamento especifico. Requerido cuando `scope=DEPARTAMENTO`.
      schema:
        type: integer
        example: 2
  
    StatusParam:
      name: status
      in: query
      required: false
      description: Filtra por estado del usuario.
      schema:
        type: string
        enum: [ACTIVO, LICENCIA, INACTIVO]

    RoleIdParam:
      name: role_id
      in: query
      required: false
      description: Filtra por rol asignado (ID del rol en tenant_db).
      schema:
        type: integer
        example: 2

    SearchParam:
      name: search
      in: query
      required: false
      description: "Búsqueda libre por nombre, apellido o email (ILIKE)."
      schema:
        type: string
        example: "mendoza"

    # ─── Query param exclusivo de ADMIN_SAAS ──────────────────────────────
    TenantIdFilterParam:
      name: tenant_id
      in: query
      required: false
      description: |
        **Solo disponible para `ADMIN_SAAS`.**
        Filtra usuarios de un tenant específico.
        Si se omite, devuelve usuarios de todos los tenants.
      schema:
        type: string
        format: uuid

    # ─── Parámetros para Incidencias ───────────────────────────────────────
    IncidentId:
      name: id
      in: path
      required: true
      description: ID único de la incidencia.
      schema:
        type: integer
        example: 42

    IncidentTypeId:
      name: id
      in: path
      required: true
      description: ID único del tipo de incidencia.
      schema:
        type: integer
        example: 5

    IncidentEvidenceId:
      name: evidenceId
      in: path
      required: true
      description: ID único de la evidencia.
      schema:
        type: integer
        example: 12

    IncidentStateParam:
      name: state
      in: query
      required: false
      description: Filtra incidencias por estado.
      schema:
        type: string
        enum: [PENDIENTE, APROBADO, DENEGADO]

    IncidentTypeFilterParam:
      name: tipo_id
      in: query
      required: false
      description: Filtra incidencias por tipo.
      schema:
        type: integer
        example: 3

    DateFromParam:
      name: desde
      in: query
      required: false
      description: Filtra incidencias creadas desde esta fecha (inclusive).
      schema:
        type: string
        format: date
        example: "2026-01-01"

    DateToParam:
      name: hasta
      in: query
      required: false
      description: Filtra incidencias creadas hasta esta fecha (inclusive).
      schema:
        type: string
        format: date
        example: "2026-12-31"


    ShiftId:
      name: id
      in: path
      required: true
      description: ID único del turno (shift).
      schema:
        type: integer
        example: 1

    ScheduleId:
      name: id
      in: path
      required: true
      description: ID único del schedule (horario).
      schema:
        type: integer
        example: 3

    ToleranciaId:
      name: toleranciaId
      in: path
      required: true
      description: ID único de la tolerancia.
      schema:
        type: integer
        example: 2

    DeviceId:
      name: id
      in: path
      required: true
      description: ID único del dispositivo.
      schema:
        type: integer
        example: 1

    BiometriaId:
      name: id
      in: path
      required: true
      description: ID único del registro biométrico.
      schema:
        type: integer
        example: 5

    UserScheduleId:
      name: id
      in: path
      required: true
      description: ID único de la asignación de schedule a usuario.
      schema:
        type: integer
        example: 7

    AttendanceId:
      name: id
      in: path
      required: true
      description: UUID del registro de asistencia.
      schema:
        type: string
        format: uuid

    NonWorkingDayId:
      name: id
      in: path
      required: true
      description: ID único del día no laborable.
      schema:
        type: integer
        example: 1

    TenantContactId:
      name: id
      in: path
      required: true
      description: ID único del tenant contact.
      schema:
        type: integer
        example: 3

    TenantUserDepartmentId:
      name: id
      in: path
      required: true
      description: ID único de la asignación de departamento.
      schema:
        type: integer
        example: 10

    AttendanceDateFromParam:
      name: date_from
      in: query
      required: false
      description: "Filtra registros de asistencia desde esta fecha (inclusive). Formato: YYYY-MM-DD."
      schema:
        type: string
        format: date
        example: "2026-06-01"

    AttendanceDateToParam:
      name: date_to
      in: query
      required: false
      description: "Filtra registros de asistencia hasta esta fecha (inclusive). Formato: YYYY-MM-DD."
      schema:
        type: string
        format: date
        example: "2026-06-30"

    AttendanceStateParam:
      name: state
      in: query
      required: false
      description: "Filtra por estado del registro de asistencia."
      schema:
        type: string
        enum: [PUNTUAL, TARDANZA, FALTA]

    BranchIdParam:
      name: branch_id
      in: query
      required: false
      description: "Filtra por sede (branch). Requerido cuando `scope=SEDE`."
      schema:
        type: integer
        example: 2


  schemas:
    # ==========================================
    # SECCIÓN: ROLES Y PERMISOS (Catálogo de Seguridad)
    # ==========================================
    PermissionProfile:
      type: object
      description: "Permiso del catálogo Trazzo (Permissions en tenant_db)."
      properties:
        id:
          type: integer
          example: 15
        name:
          type: string
          example: "VIEW_USUARIOS"
        descripcion:
          type: string
          example: "Permite visualizar el listado de usuarios del tenant."
        master_features_code:
          type: string
          nullable: true
          description: "Código de feature en master_db que habilita este permiso según plan."
          example: "FEATURE_USER_MGMT"
        context:
          type: string
          enum: [MASTER, TENANT]
          description: "Contexto donde aplica el permiso. MASTER = solo usuarios Trazzo."
          example: "TENANT"

    TenantRoleProfile:
      type: object
      description: "Rol creado y personalizado dentro del tenant (Roles en tenant_db)."
      properties:
        id:
          type: integer
          example: 3
        name:
          type: string
          example: "Director"
        descripcion:
          type: string
          nullable: true
          example: "Rol para directores de sede con visibilidad total del tenant."
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionProfile'

    MasterRoleProfile:
      type: object
      description: "Rol del equipo Trazzo (RolesMaster en master_db)."
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "admin_trazzo"
        descripcion:
          type: string
          nullable: true
    # ==========================================
    # SECCIÓN: COMPONENTES DE SEGURIDAD Y AUTH
    # ==========================================
    PersonaBase:
      type: object
      description: "Datos personales (Persons en master_db, compartido entre contextos)."
      properties:
        id:
          type: integer
        img_url:
          type: string
          format: uri
          nullable: true
        document_type:
          type: string
          enum: [DNI, CARNET_EXTRANJERIA, PASAPORTE, OTRO]
        document_value:
          type: string
          example: "76543210"
        name:
          type: string
          example: "Josselin Anais"
        father_surname:
          type: string
          example: "Rojas"
        mother_surname:
          type: string
          example: "Luque"
        birth_date:
          type: string
          format: date
          nullable: true
          example: "1990-01-01"
    
    MetodoRecuperacionEntry:
      type: object
      properties:
        method_type:
          type: string
          enum: [EMAIL, PHONE]
        method_value:
          type: string
          example: "admincolegio@colegio.edu.pe"
    
    TenantUserProfile:
      type: object
      description: |
        Perfil completo de un usuario de tenant.
        Combina datos de `Users` (master_db) + `TenantUser` (tenant_db) + `Persons`.
      properties:
        # Datos de TenantUser (tenant_db)
        id:
          type: integer
          description: "ID del TenantUser en tenant_db."
          example: 42
        email:
          type: string
          nullable: true
          example: "ana.is@colegio.edu.pe"
        phone:
          type: string
          nullable: true
          example: "987654321"
        estado:
          type: string
          enum: [ACTIVO, LICENCIA, INACTIVO]
          example: "ACTIVO"
        must_change_password:
          type: boolean
          description: "True si el usuario aún no ha cambiado su contraseña temporal."
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        # Datos de Persons (master_db)
        persona:
          $ref: '#/components/schemas/PersonaBase'
        # Contacto (Metodo de Recuperación en master_db)
        MetodoRecuperacion:
          type: array
          items:
            $ref: '#/components/schemas/MetodoRecuperacionEntry'
        # Rol asignado (TenantUserRol → Roles en tenant_db)
        rol:
          $ref: '#/components/schemas/TenantRoleProfile'
        # Asignaciones organizacionales
        sedes:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              nombre:
                type: string
        areas:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              nombre:
                type: string
        departamentos:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              nombre:
                type: string
    
    MasterUserProfile:
      type: object
      description: "Perfil de un usuario Trazzo (Users en master_db)."
      properties:
        id:
          type: integer
          example: 7
        email:
          type: string
          nullable: true
          example: "admin@trazzo.pe"
        phone:
          type: string
          nullable: true
          example: "987654321"
        tenant_id:
          type: string
          format: uuid
          nullable: true
          description: "null para usuarios puramente SaaS sin asignación a tenant."
        must_change_password:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
        persona:
          $ref: '#/components/schemas/PersonaBase'
        MetodoRecuperacion:
          type: array
          items:
            $ref: '#/components/schemas/MetodoRecuperacionEntry'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/MasterRoleProfile'
        tenant_info:
          type: object
          nullable: true
          description: "Datos del tenant al que pertenece. Presente para admin_trazzo con permiso VIEW_ALL_TENANTS."
          properties:
            id:
              type: string
              format: uuid
            nombre:
              type: string
            slug:
              type: string
              example: "colegio-santa-rosa"
    
    # ── Listas paginadas ──────────────────────────────────────────────────
    TenantUserListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/TenantUserProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        scope_aplicado:
          type: string
          enum: [ALL_TENANT, MY_ASSIGNMENTS, SEDE, AREA, DEPARTAMENTO, SELF]
          description: "Scope efectivamente aplicado por el backend."
          example: "MY_ASSIGNMENTS"
    
    MasterUserListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/MasterUserProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    # ── Request bodies para creación ─────────────────────────────────────
    CrearTenantUsuarioRequest:
      type: object
      required:
        - document_type
        - document_value
        - name
        - father_surname
        - mother_surname
        - email
        - role_id
      description: |
        Crea un usuario de tenant. La **contraseña no se recibe**: el backend
        genera una contraseña temporal aleatoria y la envía al `email`
        (workflow de activación). El usuario queda con `must_change_password = true`.
      properties:
        document_type:
          type: string
          enum: [DNI, CARNET_EXTRANJERIA, PASAPORTE, OTRO]
          example: "DNI"
        document_value:
          type: string
          description: "Clave de búsqueda para reutilizar Persona existente en master_db."
          example: "76543210"
        name:
          type: string
          example: "Josselin Anais"
        father_surname:
          type: string
          example: "Rojas"
        mother_surname:
          type: string
          example: "Luque"
        birth_date:
          type: string
          format: date
          nullable: true
        img_url:
          type: string
          format: uri
          nullable: true
        email:
          type: string
          format: email
          description: "Email principal (credencial de login). Debe ser único en el tenant."
          example: "ana.rojas@colegio.edu.pe"
        emails_adicionales:
          type: array
          nullable: true
          description: "Email secundarios utilizados para recuperación de contraseña."
          items:
            type: string
            format: email
        phone:
          type: string
          nullable: true
          example: "+51987654321"
        phones_adicionales:
          type: array
          nullable: true
          description: "Teléfonos secundarios utilizados para recuperación de contraseña."
          items:
            type: string
        role_id:
          type: integer
          description: |
            ID del TenantRole a asignar. Debe existir en `tenant_db`.
            El rol asignado no puede tener más permisos que el rol del usuario
            que ejecuta la creación (regla anti-escalation).
          example: 3
        sede_ids:
          type: array
          nullable: true
          items:
            type: integer
          example: [1]
        area_ids:
          type: array
          nullable: true
          items:
            type: integer
          example: [7]
        departamento_ids:
          type: array
          nullable: true
          items:
            type: integer

    CrearMasterUsuarioRequest:
      type: object
      required:
        - document_type
        - document_value
        - name
        - father_surname
        - mother_surname
        - email
        - role_ids
      description: |
        Crea un usuario del equipo Trazzo en `master_db`. Solo accesible con
        MasterRole que tenga permiso `CREATE_MASTER_USER`.
        La contraseña se genera automáticamente y se envía por email
        (mismo workflow de activación).
      properties:
        document_type:
          type: string
          enum: [DNI, CARNET_EXTRANJERIA, PASAPORTE, OTRO]
        document_value:
          type: string
        name:
          type: string
        father_surname:
          type: string
        mother_surname:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        role_ids:
          type: array
          items:
            type: integer
          description: "IDs de MasterRoles a asignar."
          example: [1]
    
    # ── Request bodies para actualización ────────────────────────────────
    ActualizarTenantUsuarioRequest:
      type: object
      required:
        - document_type
        - document_value
        - name
        - father_surname
        - mother_surname
        - email
        - role_id
      description: |
        **PUT — Actualización completa del usuario de tenant.**
        Reemplaza todos los datos editables. La contraseña y el `estado`
        (status laboral) no se modifican por este endpoint.
        `document_value` y `document_type` son inmutables una vez creados;
        si se envían valores distintos, se responde `422`.
      properties:
        document_type:
          type: string
          enum: [DNI, CARNET_EXTRANJERIA, PASAPORTE, OTRO]
        document_value:
          type: string
          description: "Solo para verificación. No se modifica."
        name:
          type: string
        father_surname:
          type: string
        mother_surname:
          type: string
        birth_date:
          type: string
          format: date
          nullable: true
        img_url:
          type: string
          format: uri
          nullable: true
        email:
          type: string
          format: email
        emails_adicionales:
          type: array
          nullable: true
          items:
            type: string
            format: email
        phone:
          type: string
          nullable: true
        phones_adicionales:
          type: array
          nullable: true
          items:
            type: string
        role_id:
          type: integer
          description: "Reemplaza el rol actual. Sujeto a regla anti-escalation."
        cargo:
          type: string
          nullable: true
        sede_ids:
          type: array
          nullable: true
          items:
            type: integer
        area_ids:
          type: array
          nullable: true
          items:
            type: integer
        departamento_ids:
          type: array
          nullable: true
          items:
            type: integer

    PatchTenantUsuarioRequest:
      type: object
      minProperties: 1
      description: |
        **PATCH — Actualización parcial (merge-patch, RFC 7396).**
        Solo los campos enviados se modifican. Los arrays reemplazan la colección completa.

        **Casos de uso principales:**
        - Cambiar `estado`: `ACTIVO → LICENCIA`, `LICENCIA → ACTIVO`, `ACTIVO → INACTIVO` (baja funcional).
          `INACTIVO → ACTIVO` equivale a reactivación y genera auditoría `REACTIVACION`.
        - Reasignar `role_id` (sujeto a anti-escalation y permiso `ASSIGN_ROLES`).
        - Actualizar `cargo`, teléfono o foto.

        **Campos bloqueados en PATCH** (siempre `403` si se intenta):
        - `document_type`, `document_value` (inmutables).
        - `role_id` por usuarios sin permiso `ASSIGN_ROLES`.
      properties:
        name:
          type: string
        father_surname:
          type: string
        mother_surname:
          type: string
        birth_date:
          type: string
          format: date
          nullable: true
        img_url:
          type: string
          format: uri
          nullable: true
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        cargo:
          type: string
          nullable: true
        estado:
          type: string
          enum: [ACTIVO, LICENCIA, INACTIVO]
          description: |
            Cambio de estado laboral.
            - `INACTIVO`: baja funcional (soft-delete). El usuario no puede iniciar sesión.
            - `ACTIVO` sobre un usuario `INACTIVO`: reactivación. Registra auditoría `REACTIVACION`.
        role_id:
          type: integer
          description: "Requiere permiso `ASSIGN_ROLES`. Sujeto a anti-escalation."
        sede_ids:
          type: array
          items:
            type: integer
          nullable: true
        area_ids:
          type: array
          items:
            type: integer
          nullable: true
        departamento_ids:
          type: array
          items:
            type: integer
          nullable: true

    AsignarRolRequest:
      type: object
      required:
        - role_id
      description: |
        **PUT /usuarios/{id}/rol — Endpoint dedicado para reasignación de rol.**
        Útil para el modal de gestión de roles en el frontend,
        sin necesidad de enviar todos los datos del usuario.
        Sujeto a regla anti-escalation y requiere permiso `ASSIGN_ROLES`.
      properties:
        role_id:
          type: integer
          example: 5

    CambiarPasswordRequest:
      type: object
      description: |
        Cambio de contraseña.
         - Para primer login forzado (`must_change_password = true`) o reset administrativo, `current_password` puede omitirse.
         - Para cambio voluntario, `current_password` es obligatoria.
         - `new_password` es requerida cuando el usuario está definiendo su nueva contraseña; en reset administrativo el backend puede generar una temporal.
      properties:
        current_password:
          type: string
          format: password
          description: "Obligatoria para cambios voluntarios. Omitir en primer login forzado o reset administrativo."
        new_password:
          type: string
          format: password
          minLength: 8
          description: "Nueva contraseña en texto plano. Spring Boot aplica BCrypt."

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: admincolegio@colegio.edu.pe
        password:
          type: string
          format: password
          example: "SuperSecret123!"

    RegistroUsuarioRequest:
      type: object
      required:
        - document_type
        - document_value
        - name
        - father_surname
        - mother_surname
        - email
        - phone
        - password
        - role_ids
      properties:
        document_type:
          type: string
          enum: [DNI, CARNET_EXTRANJERIA, PASAPORTE, OTRO]
          description: "Tipo de documento de identidad oficial."
          example: "DNI"
        document_value:
          type: string
          description: "Número del documento. Usado como llave de búsqueda para la Persona."
          example: "76543210"
        name:
          type: string
          example: "Carlos"
        father_surname:
          type: string
          example: "Mendoza"
        mother_surname:
          type: string
          example: "González"
        phone:
          type: string
          example: "+51987654321"
        img_url:
          type: string
          format: uri
          nullable: true
          description: "URL pública o de acceso de la imagen de perfil alojada en Cloudflare R2."
          example: "https://r2.trazzo.pe/profiles/76543210.jpg"
        email:
          type: string
          format: email
          description: "Correo que servirá como credencial de inicio de sesión."
          example: "carlos.mendoza@colegio.edu.pe"
        password:
          type: string
          format: password
          description: "Contraseña en texto plano para que Spring Boot la encripte."
        birth_date:
          type: string
          format: date
          description: "Fecha de nacimiento del usuario."
          nullable: true
          example: "1990-01-01"
        role_ids:
          type: array
          items:
            type: integer
          description: "Lista de IDs de los roles que se asignarán al usuario (Tabla pivote UserRoles)."
          example: [1, 3]

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: "JWT Token firmado para acceso a endpoints protegidos."
        tokenType:
          type: string
          example: "Bearer"
        usuario:
          $ref: "#/components/schemas/UsuarioProfile"

    # --- ESQUEMAS DE SALIDA ---
    PersonaProfile:
      type: object
      description: "Datos personales desvinculados de las credenciales de acceso."
      properties:
        id:
          type: integer
        document_type:
          type: string
        document_value:
          type: string
        first_name:
          type: string
        father_surname:
          type: string
        mother_surname:
          type: string
        phone:
          type: string
        img_url:
          type: string

    RoleProfile:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        permissions:
          type: object
          description: "JSONB con los permisos específicos."

    UsuarioProfile:
      type: object
      description: "Representación segura del usuario para el Frontend (Excluye campos hash y metadatos internos)."
      properties:
        id:
          type: integer
          example: 42
        nombre:
          type: string
          example: "Carlos"
        apellido_paterno:
          type: string
          example: "Mendoza"
        apellido_materno:
          type: string
          example: "González"
        email:
          type: string
          example: "carlos.mendoza@colegio.edu.pe"
        status:
          type: string
          enum: [ACTIVO, SUSPENDIDO, INACTIVO]
          example: "ACTIVO"
        ultimo_acceso:
          type: string
          format: date-time
        rol:
          type: array
          items:
            $ref: "#/components/schemas/RoleProfile"
    UsuarioProfileExtended:
      allOf:
        - $ref: "#/components/schemas/UsuarioProfile"
        - type: object
          description: "Perfil extendido con datos de persona y asignaciones org."
          properties:
            persona:
              type: object
              description: "Datos personales asociados (tabla Personas)."
              properties:
                document_type:
                  type: string
                  enum: [DNI, CE, PASAPORTE]
                document_value:
                  type: string
                  example: "76543210"
                phone:
                  type: string
                  nullable: true
                  example: "+51987654321"
                img_url:
                  type: string
                  format: uri
                  nullable: true
            sedes:
              type: array
              description: "Sedes a las que está asignado el usuario."
              items:
                type: object
                properties:
                  id:
                    type: integer
                  nombre:
                    type: string
            areas:
              type: array
              description: "Áreas a las que está asignado el usuario."
              items:
                type: object
                properties:
                  id:
                    type: integer
                  nombre:
                    type: string
            departamentos:
              type: array
              description: "Departamentos a los que está asignado el usuario."
              items:
                type: object
                properties:
                  id:
                    type: integer
                  nombre:
                    type: string
            tenant_id:
              type: string
              format: uuid
              description: "Presente solo en respuestas para ADMIN_SAAS."
              nullable: true

    UsuarioListResponse:
      type: object
      description: "Respuesta paginada de la lista de usuarios."
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/UsuarioProfileExtended"
        page:
          type: integer
          example: 0
        size:
          type: integer
          example: 20
        totalElements:
          type: integer
          example: 145
        totalPages:
          type: integer
          example: 8
        scope_aplicado:
          type: string
          description: "Scope efectivamente aplicado al resolver la consulta."
          enum: [GLOBAL, TENANT, SEDE, AREA, MY_AREAS, SELF]
          example: "MY_AREAS"
    # ==========================================
    # SECCIÓN: COMPONENTES DE ASISTENCIA BIOMÉTRICA
    # ==========================================
    MarcacionRequest:
      type: object
      required:
        - templateCifrado
        - llaveAesCifrada
        - timestampLocal
        - device_code
        - tenant_user_id
      properties:
        templateCifrado:
          type: string
          description: Plantilla biométrica capturada por el middleware, cifrada localmente con AES-256-GCM.
        llaveAesCifrada:
          type: string
          description: Llave simétrica AES cifrada con la llave pública RSA-2048 de Spring Boot.
        timestampLocal:
          type: string
          format: date-time
          description: Hora exacta capturada en el hardware local.
        device_code:
          type: string
          description: "Campo `code` de la tabla `device` (serial ZKTeco del dispositivo)."
          example: "ZK-C2PRO-00123"
        tenant_user_id:
          type: integer
          description: "ID del trabajador (TenantUser) que realiza la marcación."
          example: 42

    MarcacionSyncRequest:
      type: array
      items:
        $ref: "#/components/schemas/MarcacionRequest"
      description: Lote de marcaciones acumuladas en el IndexedDB (Modo Offline).

    PublicKeyResponse:
      type: object
      properties:
        publicKey:
          type: string
          description: Llave pública RSA-2048 del servidor en formato PEM.
        kid:
          type: string
          description: Identificador de llave (Key ID) para gestión de caché persistente (SQLite local).

    # ─── Request bodies para actualización ───────────────────────────────
    ActualizarUsuarioRequest:
      type: object
      required:
        - document_type
        - document_value
        - name
        - father_surname
        - mother_surname
        - email
        - phone
        - role_ids
      description: |
        **Actualización completa (PUT).**
        Todos los campos son requeridos. Reemplaza completamente el recurso.
        La contraseña NO se actualiza por este endpoint;
        usar `PATCH /usuarios/{id}/password` para ese caso.
      properties:
        document_type:
          type: string
          enum: [DNI, CE, PASAPORTE]
          example: "DNI"
        document_value:
          type: string
          example: "76543210"
        name:
          type: string
          example: "Carlos"
        father_surname:
          type: string
          example: "Mendoza"
        mother_surname:
          type: string
          example: "González"
        email:
          type: string
          format: email
          example: "carlos.mendoza@colegio.edu.pe"
        phone:
          type: string
          nullable: true
          example: "+51987654321"
        img_url:
          type: string
          format: uri
          nullable: true
          example: "https://r2.trazzo.pe/profiles/76543210.jpg"
        role_ids:
          type: array
          items:
            type: integer
          description: "Lista completa de IDs de roles. Reemplaza los roles anteriores."
          example: [2]
        sede_ids:
          type: array
          items:
            type: integer
          description: "Lista completa de IDs de sedes asignadas."
          example: [1, 2]
        area_ids:
          type: array
          items:
            type: integer
          description: "Lista completa de IDs de áreas asignadas."
          example: [3, 7]
        departamento_ids:
          type: array
          items:
            type: integer
          description: "Lista completa de IDs de departamentos asignados."
          example: [1, 2]

    PatchUsuarioRequest:
      type: object
      description: |
        **Actualización parcial (PATCH).**
        Solo se envían los campos a modificar. Los campos omitidos conservan su valor actual.
        Los arrays (`role_ids`, `sede_ids`, `area_ids`) cuando se incluyen **reemplazan** la colección completa.
      minProperties: 1
      properties:
        name:
          type: string
          example: "Carlos Alberto"
        father_surname:
          type: string
          example: "Mendoza"
        mother_surname:
          type: string
          example: "González"
        email:
          type: string
          format: email
          example: "carlos.mendoza@colegio.edu.pe"
        phone:
          type: string
          nullable: true
          example: "+51987654321"
        img_url:
          type: string
          format: uri
          nullable: true
        status:
          type: string
          enum: [ACTIVO, SUSPENDIDO, INACTIVO]
          description: "Cambio de estado del usuario. INACTIVO equivale a soft-delete funcional (suspensión operativa, no elimina el registro)."
          example: "SUSPENDIDO"
        role_ids:
          type: array
          items:
            type: integer
          description: "Reemplaza los roles actuales del usuario."
          example: [3]
        sede_ids:
          type: array
          items:
            type: integer
          description: "Reemplaza las sedes asignadas."
        area_ids:
          type: array
          items:
            type: integer
          description: "Reemplaza las áreas asignadas."
        departamento_ids:
          type: array
          items:
            type: integer
          description: "Reemplaza los departamentos asignados."

    SoftDeleteResponse:
      type: object
      description: "Respuesta de confirmación tras el soft-delete."
      properties:
        id:
          type: integer
          example: 42
        status:
          type: string
          example: "INACTIVO"
        deleted_at:
          type: string
          format: date-time
          description: "Timestamp del momento en que se aplicó la baja lógica."
        deleted_by:
          type: integer
          description: "ID del usuario que ejecutó la baja."
          example: 1

    
    # ==========================================
    # SECCIÓN: COMPONENTES COMUNES / ERRORES
    # ==========================================
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        error:
          type: string
        message:
          type: string
        details:
          type: array
          description: "Lista de errores de validación campo a campo (útil en 422)."
          nullable: true
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    # ==========================================
    # SECCIÓN: INCIDENCIAS
    # ==========================================
    # ── IncidentType ──────────────────────────────────────────────────────
    IncidentTypeProfile:
      type: object
      description: "Tipo de incidencia definido por el tenant."
      properties:
        id:
          type: integer
          example: 5
        nombre:
          type: string
          example: "Permiso por Salud"
        descripcion:
          type: string
          nullable: true
          example: "Permiso por consulta médica o enfermedad"
        activo:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IncidentTypeListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/IncidentTypeProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateIncidentTypeRequest:
      type: object
      required:
        - nombre
      description: |
        Crea un nuevo tipo de incidencia para el tenant.
        Se crea con `activo = true` por defecto.
      properties:
        nombre:
          type: string
          example: "Permiso por Salud"
        descripcion:
          type: string
          nullable: true
          example: "Permiso por consulta médica o enfermedad"

    PatchIncidentTypeRequest:
      type: object
      minProperties: 1
      description: |
        Actualización parcial de un tipo de incidencia.
        - `activo = false` desactiva el tipo: las incidencias históricas
          siguen visibles, pero no se pueden crear nuevas con este tipo.
        - `activo = true` reactiva un tipo desactivado.
      properties:
        nombre:
          type: string
          example: "Permiso Médico"
        descripcion:
          type: string
          nullable: true
        activo:
          type: boolean
          example: false

    # ── Incident ──────────────────────────────────────────────────────────
    IncidentEvidenceProfile:
      type: object
      description: "Evidencia asociada a una incidencia (archivo subido a Cloudflare R2)."
      properties:
        id:
          type: integer
          example: 12
        incidencia_id:
          type: integer
          example: 42
        file_name:
          type: string
          example: "certificado_medico.pdf"
        file_url:
          type: string
          format: uri
          description: "URL pública del archivo en Cloudflare R2."
          example: "https://r2.trazzo.pe/evidencias/42/certificado_medico.pdf"
        mime_type:
          type: string
          example: "application/pdf"
        file_size:
          type: integer
          description: "Tamaño del archivo en bytes."
          example: 1048576
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IncidentPermissionProfile:
      type: object
      description: |
        Registro de permiso asociado a una incidencia aprobada.
        Solo se crea cuando una incidencia es aprobada y su tipo lo requiere.
      properties:
        id:
          type: integer
          example: 8
        incidencia_id:
          type: integer
          example: 42
        start_date:
          type: string
          format: date
          description: "Fecha de inicio del permiso (calculada automáticamente)."
          example: "2026-06-15"
        end_date:
          type: string
          format: date
          description: "Fecha de fin del permiso (calculada automáticamente)."
          example: "2026-06-17"
        days_granted:
          type: integer
          description: "Días otorgados (ingresado por el administrador al aprobar)."
          example: 3
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IncidentProfile:
      type: object
      description: "Perfil completo de una incidencia de asistencia."
      properties:
        id:
          type: integer
          example: 42
        tenant_user_id:
          type: integer
          description: "ID del trabajador afectado (TenantUser)."
          example: 15
        incidencia_type_id:
          type: integer
          description: "ID del tipo de incidencia."
          example: 5
        state:
          type: string
          enum: [PENDIENTE, APROBADO, DENEGADO]
          example: "PENDIENTE"
        comment:
          type: string
          nullable: true
          description: |
            Comentario o justificación del trabajador.
            Almacenado en Redis para acceso rápido.
          example: "Adjunto certificado médico por inasistencia del 15 al 17 de junio"
        tipo:
          $ref: '#/components/schemas/IncidentTypeProfile'
        permiso:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/IncidentPermissionProfile'
        evidencias:
          type: array
          maxItems: 1
          items:
            $ref: '#/components/schemas/IncidentEvidenceProfile'
        tenant_user:
          type: object
          description: "Datos básicos del trabajador afectado."
          properties:
            id:
              type: integer
            nombre:
              type: string
            apellido_paterno:
              type: string
            apellido_materno:
              type: string
            email:
              type: string
              format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IncidentListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/IncidentProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        scope_aplicado:
          type: string
          enum: [ALL_TENANT, MY_ASSIGNMENTS, SEDE, AREA, DEPARTAMENTO, SELF]
          example: "MY_ASSIGNMENTS"

    # ── Request bodies ────────────────────────────────────────────────────
    CreateIncidentRequest:
      type: object
      required:
        - incidencia_type_id
      description: |
        Crea una nueva incidencia en estado `PENDIENTE`.

        **Origen de creación:**
        - **Manual (trabajador):** el `tenant_user_id` se obtiene del JWT
          (el trabajador crea su propia incidencia).
        - **Automática (sistema):** el sistema crea la incidencia al detectar
          falta al finalizar el turno. El `tenant_user_id` es el trabajador afectado.
          Requiere el permiso `CREATE_INCIDENT` para creación manual.

        El campo `comment` es opcional y se cachea en Redis al crearse.
      properties:
        incidencia_type_id:
          type: integer
          description: "ID del tipo de incidencia. Debe estar activo."
          example: 5
        comment:
          type: string
          nullable: true
          description: "Comentario o justificación del trabajador."
          example: "Adjunto certificado médico por inasistencia"
        tenant_user_id:
          type: integer
          nullable: true
          description: |
            Solo para creación automática por el sistema.
            Si se omite (creación manual), se usa el `sub` del JWT.
          example: 15

    PatchIncidentRequest:
      type: object
      minProperties: 1
      description: |
        **PATCH — Actualización parcial de una incidencia.**

        **Reglas:**
        - Solo se puede editar mientras está `PENDIENTE`.
        - Solo el trabajador afectado puede editar su incidencia.
        - Únicamente se puede modificar `comment`.
      properties:
        comment:
          type: string
          nullable: true
          description: |
            Comentario o justificación. Se cachea en Redis.
          example: "Adjunto nuevo certificado médico actualizado"

    IncidentStateChangeRequest:
      type: object
      required:
        - state
      description: |
        Cambio de estado de una incidencia (APROBAR o DENEGAR).

        **Reglas:**
        - Solo transiciones válidas: `PENDIENTE → APROBADO` | `PENDIENTE → DENEGADO`.
        - Solo un administrador con permiso `APPROVE_INCIDENT` puede ejecutarlo.
        - Si se aprueba con `days_granted`, el backend calcula automáticamente
          las fechas del permiso a partir de la incidencia y crea un registro
          en `incidents_permission`.
        - Al aprobar, se dispara un evento asíncrono para justificar los días
          de asistencia afectados (vía `POST /incidentes/{id}/justificar`).
        - Se notifica al trabajador vía WebSocket y email (Resend).
      properties:
        state:
          type: string
          enum: [APROBADO, DENEGADO]
          example: "APROBADO"
        days_granted:
          type: integer
          nullable: true
          description: |
            Días otorgados. Obligatorio al aprobar una incidencia que requiera
            registro de permiso (ej. licencia médica). Lo ingresa el administrador.
          example: 3
        motivo_rechazo:
          type: string
          nullable: true
          description: "Motivo del rechazo. Requerido cuando `state = DENEGADO`."
          example: "Documentación insuficiente"

    CreateEvidenceRequest:
      type: object
      required:
        - file_name
        - file_url
        - mime_type
        - file_size
      description: |
        Registra una evidencia asociada a una incidencia.

        **Flujo:**
        1. El frontend verifica que el archivo no exceda 15MB.
        2. El frontend sube el archivo directamente a Cloudflare R2 (bucket público).
        3. Cloudflare R2 devuelve la URL pública del archivo.
        4. El frontend envía la URL y metadatos al backend para su registro en BD.

        **Restricciones:**
        - Solo una evidencia por incidencia.
        - Solo se puede agregar mientras la incidencia está `PENDIENTE`
          (o antes de generar el reporte mensual).
        - Formatos permitidos: PDF, Word, imágenes, videos.
      properties:
        file_name:
          type: string
          description: "Nombre original del archivo."
          example: "certificado_medico.pdf"
        file_url:
          type: string
          format: uri
          description: "URL pública del archivo en Cloudflare R2."
          example: "https://r2.trazzo.pe/evidencias/42/certificado_medico.pdf"
        mime_type:
          type: string
          description: "Tipo MIME del archivo."
          example: "application/pdf"
        file_size:
          type: integer
          description: "Tamaño del archivo en bytes (máx 15MB = 15728640 bytes)."
          maximum: 15728640
          example: 1048576

    NotifyIncidentRequest:
      type: object
      description: |
        Dispara una notificación por email vía Resend al trabajador afectado
        informando el cambio de estado de su incidencia.
      properties:
        tipo:
          type: string
          enum: [EMAIL, SISTEMA, AMBOS]
          default: AMBOS
          description: |
            - `EMAIL`: solo envía correo vía Resend.
            - `SISTEMA`: solo notificación en el sistema (WebSocket).
            - `AMBOS`: ambas vías.
          example: "AMBOS"
      required:
        - tipo

# Forzamos por defecto que todas las transacciones utilicen Validación Dual del Tenant

    # ── Shift ─────────────────────────────────────────────────────────────
    ShiftProfile:
      type: object
      description: |
        Turno de trabajo (agrupador de schedules).
        Un Shift puede contener múltiples Schedules con distintos horarios.
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Turno Mañana"
        description:
          type: string
          nullable: true
          example: "Turno matutino para personal docente"
        schedules:
          type: array
          description: "Schedules asociados a este turno (incluidos en detalle, omitidos en listados)."
          items:
            $ref: '#/components/schemas/ScheduleSummary'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ShiftSummary:
      type: object
      description: "Resumen de turno para uso en listas y referencias cruzadas."
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Turno Mañana"

    ShiftListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ShiftProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateShiftRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: "Turno Tarde"
        description:
          type: string
          nullable: true
          example: "Turno vespertino para personal administrativo"

    PatchShiftRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          example: "Turno Tarde Actualizado"
        description:
          type: string
          nullable: true

    # ── Schedule ──────────────────────────────────────────────────────────
    ToleranciaProfile:
      type: object
      description: |
        Tolerancia asociada a un schedule.
        Define los minutos de gracia por tipo (ENTRADA, SALIDA, HORAS_EXTRA).
        Un schedule puede tener múltiples tolerancias (una por tipo).
      properties:
        id:
          type: integer
          example: 1
        schedule_id:
          type: integer
          example: 3
        name:
          type: string
          nullable: true
          example: "Tolerancia entrada docentes"
        type:
          type: string
          enum: [ENTRADA, SALIDA, HORAS_EXTRA]
          description: |
            - `ENTRADA`: minutos de gracia después de `entry_time` antes de marcar tardanza.
            - `SALIDA`: minutos de gracia antes de `departure_time` para salida anticipada.
            - `HORAS_EXTRA`: minutos adicionales después de `departure_time` computados como horas extra.
          example: "ENTRADA"
        minutes:
          type: integer
          minimum: 0
          maximum: 60
          description: "Minutos de tolerancia. 0 = sin tolerancia. Máximo 60 minutos."
          example: 10
        description:
          type: string
          nullable: true
        activo:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ScheduleProfile:
      type: object
      description: |
        Horario específico dentro de un turno.
        Define los horarios concretos de entrada y salida.
        El cálculo de tardanza usa: `minutes_late = max(0, check_in - entry_time - tolerancia_ENTRADA.minutes)`.
      properties:
        id:
          type: integer
          example: 3
        shift_id:
          type: integer
          example: 1
        shift:
          $ref: '#/components/schemas/ShiftSummary'
        name:
          type: string
          example: "Horario 7:00 - 13:00"
        description:
          type: string
          nullable: true
        entry_time:
          type: string
          format: time
          example: "07:00:00"
        departure_time:
          type: string
          format: time
          example: "13:00:00"
        tolerancias:
          type: array
          description: "Tolerancias activas asociadas a este schedule."
          items:
            $ref: '#/components/schemas/ToleranciaProfile'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ScheduleSummary:
      type: object
      description: "Resumen de schedule para uso en listas y referencias cruzadas."
      properties:
        id:
          type: integer
          example: 3
        name:
          type: string
          example: "Horario 7:00 - 13:00"
        entry_time:
          type: string
          format: time
          example: "07:00:00"
        departure_time:
          type: string
          format: time
          example: "13:00:00"

    ScheduleListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateScheduleRequest:
      type: object
      required:
        - shift_id
        - name
        - entry_time
        - departure_time
      properties:
        shift_id:
          type: integer
          description: "ID del turno al que pertenece este schedule."
          example: 1
        name:
          type: string
          example: "Horario 7:00 - 13:00"
        description:
          type: string
          nullable: true
        entry_time:
          type: string
          format: time
          example: "07:00:00"
        departure_time:
          type: string
          format: time
          example: "13:00:00"

    PatchScheduleRequest:
      type: object
      minProperties: 1
      description: |
        Actualización parcial de un schedule.
        **Nota:** `shift_id` no es modificable (un schedule pertenece a un único shift).
        Si se necesita mover a otro shift, eliminar y recrear.
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        entry_time:
          type: string
          format: time
        departure_time:
          type: string
          format: time

    # ── Tolerancia (gestión separada) ─────────────────────────────────────
    CreateToleranciaRequest:
      type: object
      required:
        - type
        - minutes
      description: |
        Crea una tolerancia para un schedule.
        Solo puede existir una tolerancia activa por tipo por schedule.
        Si ya existe una del mismo tipo, se responde `409`.
      properties:
        name:
          type: string
          nullable: true
          example: "Tolerancia entrada docentes"
        type:
          type: string
          enum: [ENTRADA, SALIDA, HORAS_EXTRA]
          example: "ENTRADA"
        minutes:
          type: integer
          minimum: 0
          maximum: 60
          example: 10
        description:
          type: string
          nullable: true

    PatchToleranciaRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          nullable: true
        minutes:
          type: integer
          minimum: 0
          maximum: 60
        description:
          type: string
          nullable: true
        activo:
          type: boolean
          description: "false desactiva la tolerancia sin eliminarla."

    # ── UserSchedule ──────────────────────────────────────────────────────
    UserScheduleProfile:
      type: object
      description: |
        Asignación de un schedule a un trabajador.
        Un trabajador puede tener múltiples asignaciones (distintos schedules).
        La asignación aplica indefinidamente desde su creación hasta que
        sea reemplazada o eliminada explícitamente.
        El backend usa el schedule activo del trabajador para calcular tardanzas.
      properties:
        id:
          type: integer
          example: 7
        tenant_user_id:
          type: integer
          example: 42
        schedule_id:
          type: integer
          example: 3
        schedule:
          $ref: '#/components/schemas/ScheduleSummary'
        description:
          type: string
          nullable: true
          example: "Horario asignado para el año escolar 2026"
        entry_time:
          type: string
          format: time
          description: |
            Hora de entrada personalizada para este usuario en este schedule.
            Si difiere del `entry_time` del schedule, prevalece este valor
            para el cálculo de tardanza de este usuario.
          example: "07:00:00"
        departure_time:
          type: string
          format: time
          description: "Hora de salida personalizada. Prevalece sobre el schedule."
          example: "13:00:00"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserScheduleListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/UserScheduleProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateUserScheduleRequest:
      type: object
      required:
        - tenant_user_id
        - schedule_id
        - entry_time
        - departure_time
      description: |
        Asigna un schedule a un trabajador.
        Requiere permiso `MANAGE_USER_SHIFTS`.
      properties:
        tenant_user_id:
          type: integer
          example: 42
        schedule_id:
          type: integer
          example: 3
        description:
          type: string
          nullable: true
          example: "Horario asignado para el año escolar 2026"
        entry_time:
          type: string
          format: time
          example: "07:00:00"
        departure_time:
          type: string
          format: time
          example: "13:00:00"

    # ── Device ────────────────────────────────────────────────────────────
    DeviceProfile:
      type: object
      description: |
        Dispositivo biométrico ZKTeco registrado en el tenant.
        Identificado por `code` (número de serie) para integración con el middleware.
        Asociado a una sede (`branch_id`) para trazabilidad de marcaciones.
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          description: "Número de serie ZKTeco. Clave de identificación para el middleware."
          example: "ZK-C2PRO-00123"
        name:
          type: string
          nullable: true
          example: "Lector Principal - Entrada Sur"
        branch_id:
          type: integer
          description: "ID de la sede (branch) donde está ubicado el dispositivo."
          example: 2
        branch_name:
          type: string
          description: "Nombre de la sede (incluido en respuesta, no en request)."
          nullable: true
          example: "Sede San Isidro"
        ip:
          type: string
          nullable: true
          example: "192.168.1.105"
        puerto:
          type: integer
          nullable: true
          example: 4370
        ubicacion:
          type: string
          nullable: true
          example: "Puerta principal, primer piso"
        state:
          type: boolean
          description: |
            true = activo (acepta marcaciones).
            false = inactivo: marcaciones rechazadas, notificación WebSocket + email
            al trabajador y al admin con `MANAGE_DEVICES`.
          example: true
        created_at:
          type: string
          format: date-time

    DeviceListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/DeviceProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateDeviceRequest:
      type: object
      required:
        - code
        - branch_id
      description: |
        Registra un nuevo dispositivo biométrico en el tenant.
        El `code` (serial ZKTeco) debe ser único en el tenant.
        Requiere permiso `MANAGE_DEVICES`.
      properties:
        code:
          type: string
          example: "ZK-C2PRO-00123"
        name:
          type: string
          nullable: true
          example: "Lector Principal - Entrada Sur"
        branch_id:
          type: integer
          example: 2
        ip:
          type: string
          nullable: true
          example: "192.168.1.105"
        puerto:
          type: integer
          nullable: true
          example: 4370
        ubicacion:
          type: string
          nullable: true
          example: "Puerta principal, primer piso"

    PatchDeviceRequest:
      type: object
      minProperties: 1
      description: |
        Actualización parcial de un dispositivo.
        - `state: false` desactiva el dispositivo: marcaciones futuras rechazadas,
          notificación inmediata WebSocket + email al admin y al trabajador afectado.
        - `code` no es modificable (clave de integración con el middleware).
      properties:
        name:
          type: string
          nullable: true
        branch_id:
          type: integer
        ip:
          type: string
          nullable: true
        puerto:
          type: integer
          nullable: true
        ubicacion:
          type: string
          nullable: true
        state:
          type: boolean

    # ── UserBiometria ─────────────────────────────────────────────────────
    UserBiometriaProfile:
      type: object
      description: |
        Registro biométrico (huella digital) de un trabajador.
        Un trabajador puede tener múltiples registros (distintos dedos).
        El `template_cifrado` está cifrado con AES-256-GCM; la llave simétrica
        está cifrada con RSA-2048 pública del backend.
        **Nunca se expone `template_cifrado` ni `llave_cifrado` en respuestas GET.**
      properties:
        id:
          type: integer
          example: 5
        tenant_user_id:
          type: integer
          example: 42
        device_id:
          type: integer
          nullable: true
          description: "Dispositivo en el que se capturó la huella."
          example: 1
        device_code:
          type: string
          nullable: true
          description: "Serial del dispositivo (incluido para referencia, no almacenado aquí)."
          example: "ZK-C2PRO-00123"
        finger_index:
          type: integer
          minimum: 0
          maximum: 9
          description: |
            Índice del dedo registrado (convención ZKTeco):
            0=Pulgar Der, 1=Índice Der, 2=Medio Der, 3=Anular Der, 4=Meñique Der,
            5=Pulgar Izq, 6=Índice Izq, 7=Medio Izq, 8=Anular Izq, 9=Meñique Izq.
          example: 1
        activo:
          type: boolean
          example: true
        capturado_en:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserBiometriaListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/UserBiometriaProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    InitEnrollRequest:
      type: object
      required:
        - tenant_user_id
        - device_id
        - finger_index
      description: |
        **Paso 1 del enrolamiento biométrico.**
        El frontend solicita al backend poner el dispositivo en modo enrolamiento.
        El backend almacena en Redis el token de sesión de enrolamiento con TTL de 120 segundos.
        El middleware ZKTeco consulta Redis periódicamente; al detectar el token activo,
        captura la siguiente huella como enrolamiento y llama a `POST /corehr/biometria/enroll/completar`.

        **Flujo completo:**
        ```
        Frontend → POST /corehr/biometria/enroll/iniciar → Redis (enroll_session:{device_id}:{tenant_user_id}, TTL=120s)
        Middleware → polling Redis → captura huella → POST /corehr/biometria/enroll/completar
        Backend → guarda en usuario_biometria → notifica frontend vía WebSocket
        ```

        El enrolamiento se realiza en el dispositivo de la sede asignada al trabajador.
        Requiere permiso `MANAGE_BIOMETRICS`.
      properties:
        tenant_user_id:
          type: integer
          example: 42
        device_id:
          type: integer
          description: "Dispositivo de la sede asignada al trabajador donde se realizará el enrolamiento."
          example: 1
        finger_index:
          type: integer
          minimum: 0
          maximum: 9
          example: 1

    EnrollSessionResponse:
      type: object
      description: "Respuesta de inicio de sesión de enrolamiento."
      properties:
        enroll_token:
          type: string
          description: "Token único de sesión de enrolamiento (almacenado en Redis con TTL 120s)."
          example: "enroll_a1b2c3d4e5f6"
        device_id:
          type: integer
          example: 1
        tenant_user_id:
          type: integer
          example: 42
        finger_index:
          type: integer
          example: 1
        expires_at:
          type: string
          format: date-time
          description: "Momento en que expira la sesión de enrolamiento (ahora + 120s)."

    CompleteEnrollRequest:
      type: object
      required:
        - enroll_token
        - template_cifrado
        - llave_cifrado
        - finger_index
        - device_code
      description: |
        **Paso 2 del enrolamiento biométrico — Invocado por el middleware ZKTeco.**
        El middleware capturó la huella y la envía cifrada al backend.
        El backend valida el `enroll_token` en Redis, guarda en `usuario_biometria`
        y notifica al frontend vía WebSocket (`/user/{adminId}/queue/biometria`).
        El token de Redis se consume (eliminado) tras el primer uso exitoso.
      properties:
        enroll_token:
          type: string
          description: "Token de sesión recibido del paso 1. Se valida y consume en Redis."
          example: "enroll_a1b2c3d4e5f6"
        device_code:
          type: string
          description: "Serial ZKTeco del dispositivo que capturó la huella."
          example: "ZK-C2PRO-00123"
        finger_index:
          type: integer
          minimum: 0
          maximum: 9
          example: 1
        template_cifrado:
          type: string
          description: "Plantilla biométrica cifrada AES-256-GCM."
        llave_cifrado:
          type: string
          description: "Llave AES cifrada con RSA-2048 pública del backend."
        capturado_en:
          type: string
          format: date-time

    # ── Attendance ────────────────────────────────────────────────────────
    AttendanceProfile:
      type: object
      description: |
        Registro de asistencia de un trabajador.
        Creado por el middleware biométrico al procesar una marcación.

        **Cálculo de tardanza:**
        `minutes_late = max(0, (check_in - entry_time_efectivo) - tolerancia_ENTRADA.minutes)`
        donde `entry_time_efectivo` es el `entry_time` del `user_schedule` del trabajador
        si existe, o el `entry_time` del `schedule` asignado.

        **Estados:**
        - `PUNTUAL`: llegó dentro del margen de tolerancia.
        - `TARDANZA`: `minutes_late > 0` (superó el margen de tolerancia).
        - `FALTA`: no se registró `check_in` al finalizar el turno.
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-0000-0000-0000-000000000001"
        tenant_user_id:
          type: integer
          example: 42
        tenant_user:
          type: object
          description: "Datos básicos del trabajador."
          properties:
            id:
              type: integer
            nombre:
              type: string
            apellido_paterno:
              type: string
        schedule_id:
          type: integer
          nullable: true
          example: 3
        schedule:
          nullable: true
          $ref: '#/components/schemas/ScheduleSummary'
        device_id:
          type: integer
          nullable: true
          example: 1
        device_code:
          type: string
          nullable: true
          example: "ZK-C2PRO-00123"
        check_in:
          type: string
          format: date-time
          nullable: true
          example: "2026-06-25T07:12:00Z"
        check_out:
          type: string
          format: date-time
          nullable: true
          description: "Null hasta que el trabajador marque salida."
          example: "2026-06-25T13:05:00Z"
        attendance_date:
          type: string
          format: date
          example: "2026-06-25"
        minutes_late:
          type: integer
          description: "Tardanza neta en minutos (tolerancia ya descontada). 0 si es puntual."
          example: 12
        state:
          type: string
          enum: [PUNTUAL, TARDANZA, FALTA]
          example: "TARDANZA"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AttendanceListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/AttendanceProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        scope_aplicado:
          type: string
          enum: [ALL_TENANT, MY_ASSIGNMENTS, SEDE, AREA, DEPARTAMENTO, SELF]
          example: "MY_ASSIGNMENTS"

    PatchAttendanceRequest:
      type: object
      minProperties: 1
      description: |
        Corrección manual de un registro de asistencia.
        Solo un administrador con permiso `EDIT_ATTENDANCE` puede ejecutar este endpoint.
        Genera registro en `Auditoria_sistema` tipo `UPDATE` con valores anteriores y nuevos.
      properties:
        check_in:
          type: string
          format: date-time
          nullable: true
        check_out:
          type: string
          format: date-time
          nullable: true
        state:
          type: string
          enum: [PUNTUAL, TARDANZA, FALTA]
        minutes_late:
          type: integer
          minimum: 0

    # ── NonWorkingDays ────────────────────────────────────────────────────
    NonWorkingDayProfile:
      type: object
      description: |
        Día no laborable definido por el tenant (feriado, día especial, etc.).
        Vive en `tenant_{slug}_db`; el `tenant_id` se infiere del JWT + `X-Tenant-ID`.

        **Días recurrentes (`is_recurring = true`):** el backend resuelve automáticamente
        que aplican en cualquier año futuro. No es necesario crear un registro nuevo cada año.
        El sistema evalúa el día y mes de `date` contra la fecha de consulta, ignorando el año.
      properties:
        id:
          type: integer
          example: 1
        date:
          type: string
          format: date
          example: "2026-12-25"
        description:
          type: string
          nullable: true
          example: "Navidad"
        is_recurring:
          type: boolean
          description: |
            true = aplica anualmente (ej. Navidad cada 25 de diciembre).
            false = aplica solo en la fecha exacta indicada.
          example: true
        created_at:
          type: string
          format: date-time

    NonWorkingDayListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/NonWorkingDayProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateNonWorkingDayRequest:
      type: object
      required:
        - date
      properties:
        date:
          type: string
          format: date
          example: "2026-12-25"
        description:
          type: string
          nullable: true
          example: "Navidad"
        is_recurring:
          type: boolean
          default: false
          example: true

    PatchNonWorkingDayRequest:
      type: object
      minProperties: 1
      properties:
        date:
          type: string
          format: date
        description:
          type: string
          nullable: true
        is_recurring:
          type: boolean

    # ── TenantContact ─────────────────────────────────────────────────────
    TenantContactProfile:
      type: object
      description: |
        Contacto del tenant: un TenantUser que actúa como punto de contacto
        para una función específica (RRHH, Soporte Técnico, CTO, etc.).
        Los datos personales (nombre, email, teléfono) se heredan del
        TenantUser referenciado (y por ende de su Persona en master_db).
        Un tenant puede tener múltiples contactos de distintos tipos.
      properties:
        id:
          type: integer
          example: 3
        tenant_user_id:
          type: integer
          example: 42
        type:
          type: string
          description: "Rol de contacto del usuario dentro del tenant."
          example: "RRHH"
        tenant_user:
          type: object
          description: "Datos heredados del TenantUser (y su Persona en master_db)."
          properties:
            id:
              type: integer
            nombre:
              type: string
            apellido_paterno:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
              nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true

    TenantContactListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/TenantContactProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateTenantContactRequest:
      type: object
      required:
        - tenant_user_id
        - type
      description: |
        Designa a un TenantUser como contacto del tenant para un tipo específico.
        Un mismo usuario puede ser contacto de múltiples tipos.
      properties:
        tenant_user_id:
          type: integer
          example: 42
        type:
          type: string
          maxLength: 50
          example: "RRHH"

    PatchTenantContactRequest:
      type: object
      required:
        - type
      description: "Actualiza el tipo de contacto de un TenantContact existente."
      properties:
        type:
          type: string
          maxLength: 50
          example: "Soporte Técnico"

    # ── TenantUserDepartment ──────────────────────────────────────────────
    TenantUserDepartmentProfile:
      type: object
      description: |
        Registro histórico de asignación de un trabajador a un departamento.
        Permite rastrear cambios de departamento a lo largo del tiempo.
        `end_date = null` indica que la asignación sigue activa.
        `is_primary = true` indica el departamento principal del trabajador.
      properties:
        id:
          type: integer
          example: 10
        tenant_user_id:
          type: integer
          example: 42
        department_id:
          type: integer
          example: 5
        department_name:
          type: string
          nullable: true
          example: "Departamento de Matemáticas"
        is_primary:
          type: boolean
          example: true
        start_date:
          type: string
          format: date
          example: "2026-01-01"
        end_date:
          type: string
          format: date
          nullable: true
          description: "null = asignación actualmente vigente."
          example: null
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TenantUserDepartmentListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/TenantUserDepartmentProfile'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    CreateTenantUserDepartmentRequest:
      type: object
      required:
        - department_id
        - start_date
      description: |
        Registra una nueva asignación de departamento para un trabajador.
        Si `is_primary = true` y el trabajador ya tiene otro departamento primario,
        el backend cierra automáticamente el anterior (`end_date = start_date - 1 día`).
        Requiere permiso `MANAGE_DEPARTMENTS`.
      properties:
        department_id:
          type: integer
          example: 5
        is_primary:
          type: boolean
          default: false
          example: true
        start_date:
          type: string
          format: date
          example: "2026-07-01"
        end_date:
          type: string
          format: date
          nullable: true
          example: null

    PatchTenantUserDepartmentRequest:
      type: object
      minProperties: 1
      description: |
        Cierra o actualiza una asignación de departamento.
        Caso más común: establecer `end_date` para cerrar la asignación activa.
      properties:
        end_date:
          type: string
          format: date
          nullable: true
          example: "2026-12-31"
        is_primary:
          type: boolean

    # ── Response Messages ───────────────────────────────────────────────
    MessageResponse:
      type: object
      description: "Respuesta informativa para operaciones asíncronas o de confirmación."
      properties:
        message:
          type: string
          description: "Mensaje legible del resultado de la operación."
          example: "Lote aceptado para procesamiento en segundo plano."
        status:
          type: string
          description: "Estado de la operación (ej. queued, accepted, processed)."
          example: "queued"
      required:
        - message

security:
  - bearerAuth: []
    tenantHeader: []

paths:
  # ----------------------------------------
  # MÓDULO: AUTENTICACIÓN Y ACCESOS
  # ----------------------------------------
  /auth/login:
    post:
      tags:
        - Autenticación
      summary: Autenticar usuario e iniciar sesión
      description: Valida credenciales contra el esquema del Tenant, actualiza 'ultimo_acceso' en BD y genera JWT.
      security:
        - tenantHeader: [] # Solo requiere la cabecera del colegio para saber a dónde apuntar
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Autenticación exitosa.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Credenciales erróneas o cuenta suspendida.

  # ----------------------------------------
  # MÓDULO: TENANT: /usuarios
  # Contexto: tenant_{slug}_db · Requiere X-Tenant-ID
  # ----------------------------------------
  /usuarios:
    get:
      tags:
        - Usuarios (Tenant)
      summary: Listar usuarios del tenant con visibilidad basada en permisos
      operationId: listarTenantUsuarios
      description: |
        Devuelve lista paginada de usuarios. El **scope** se resuelve automáticamente
        en el backend según los permisos del JWT:

        | Permiso del solicitante          | Scope por defecto  | Puede especificar scope |
        |----------------------------------|--------------------|------------------------|
        | `VIEW_ALL_TENANT_USERS`          | Todo el tenant     | No es necesario        |
        | `VIEW_USUARIOS` (sin VIEW_ALL)   | Solo sus asignaciones (`MY_ASSIGNMENTS`) | Sí, via `scope` |
        | Ninguno de los anteriores        | `403 Forbidden`    | No                     |

        ### Lógica de `MY_ASSIGNMENTS`
        El backend recupera las sedes, áreas y departamentos a los que el usuario
        autenticado está asignado (tabla `Usuario_tenant`, `Areas`, `Departamento`,
        `Sedes`) y filtra los TenantUsers que compartan al menos una asignación.

        ### Ampliación de scope (usuarios sin `VIEW_ALL_TENANT_USERS`)
        Si el solicitante tiene `VIEW_USUARIOS` puede ampliar usando `scope=SEDE|AREA|DEPARTAMENTO`
        con el ID correspondiente. El backend valida que el ID pertenezca al tenant
        y que el solicitante tenga asignación en esa entidad.

        **Permisos requeridos:** `VIEW_USUARIOS` o `VIEW_ALL_TENANT_USERS`
      parameters:
        - $ref: '#/components/parameters/TenantIdHeader'
        - $ref: '#/components/parameters/ScopeParam'
        - $ref: '#/components/parameters/BranchIdParam'
        - $ref: '#/components/parameters/AreaIdParam'
        - $ref: '#/components/parameters/DepartamentoIdParam'
        - $ref: '#/components/parameters/StatusParam'
        - $ref: '#/components/parameters/RoleIdParam'
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        "200":
          description: Lista paginada de usuarios según el scope resuelto.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUserListResponse'
        "400":
          description: "`scope=SEDE` sin `branch_id`, o `scope=AREA` sin `area_id`, etc."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: |
            Sin permiso `VIEW_USUARIOS`, o intento de ampliar scope
            a una sede/área a la que el solicitante no está asignado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Token ausente o inválido.
    post:
      tags:
        - Usuarios (Tenant)
      summary: Registrar un nuevo usuario en el tenant
      operationId: crearTenantUsuario
      description: |
        Crea un usuario dentro del tenant activo. Flujo:
        1. Busca en `master_db` si ya existe una `Persona` con el `document_value`.
           Si existe, la reutiliza. Si no, la crea.
        2. Crea el registro `Users` en `master_db` (con `tenant_id`).
        3. Crea el registro `TenantUser` en `tenant_{slug}_db`.
        4. Asigna el rol indicado (valida anti-escalation).
        5. Genera contraseña temporal → envía email → marca `must_change_password = true`.

        **Permisos requeridos:** `CREATE_USER`
      parameters:
        - $ref: '#/components/parameters/TenantIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearTenantUsuarioRequest'
      responses:
        "201":
          description: Usuario creado. Se envió email con contraseña temporal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUserProfile'
        "400":
          description: Datos inválidos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: |
            Sin permiso `CREATE_USER`, o el `role_id` indicado tiene más permisos
            que el rol del solicitante (privilege escalation).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: El email ya está registrado en este tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: |
            Error semántico: `role_id` inexistente, `sede_id` de otro tenant, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usuarios/{id}:
    parameters:
      - $ref: '#/components/parameters/UsuarioId'
      - $ref: '#/components/parameters/TenantIdHeader'

    get:
      tags:
        - Usuarios (Tenant)
      summary: Obtener un usuario de tenant por ID
      operationId: getTenantUsuarioById
      description: |
        Devuelve el perfil extendido de un TenantUser.
        El backend valida que el usuario pertenezca al tenant del JWT.

        **Regla de visibilidad:** aplica las mismas reglas que `GET /usuarios`.
        Si el solicitante solo tiene `VIEW_USUARIOS` (sin `VIEW_ALL_TENANT_USERS`),
        solo puede ver usuarios dentro de su scope de asignaciones.

        **Permisos requeridos:** `VIEW_USUARIOS` o `VIEW_ALL_TENANT_USERS`
      responses:
        "200":
          description: Perfil extendido del usuario.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUserProfile'
        "403":
          description: El usuario no está dentro del scope del solicitante.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Usuario no encontrado en este tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Usuarios (Tenant)
      summary: Actualizar completamente un usuario de tenant
      operationId: reemplazarTenantUsuario
      description: |
        Reemplaza todos los datos editables del usuario.
        Genera registro en `Auditoria_sistema` con `valor_anterior` y `valor_nuevo` en JSONB.

        **Campos inmutables:** `document_type`, `document_value`.
        **No modifica:** `estado` (usar PATCH), contraseña (usar endpoint dedicado).

        **Permisos requeridos:** `EDIT_USER`
        **Restricción de scope:** el usuario objetivo debe estar dentro del scope del solicitante.
        **Anti-escalation:** si se cambia `role_id`, el nuevo rol no puede tener más permisos
        que el rol del solicitante.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualizarTenantUsuarioRequest'
      responses:
        "200":
          description: Usuario actualizado. Retorna perfil completo actualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUserProfile'
        "400":
          description: Datos de entrada inválidos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: |
            Sin permiso `EDIT_USER`, usuario fuera de scope,
            o intento de privilege escalation en `role_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Usuario no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflicto de email con otro usuario del tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: "`role_id`, `sede_ids` o `area_ids` con IDs inválidos para este tenant."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      tags:
        - Usuarios (Tenant)
      summary: Actualizar parcialmente un usuario de tenant
      operationId: patchTenantUsuario
      description: |
        Actualiza solo los campos enviados (merge-patch, RFC 7396).
        Los arrays reemplazan la colección completa cuando se incluyen.

        **Casos de uso especiales:**
        - `{ "estado": "INACTIVO" }`: baja funcional. El usuario no puede iniciar sesión.
          Genera auditoría `DELETE_LOGICO`. Equivalente a soft-delete.
        - `{ "estado": "ACTIVO" }` sobre usuario `INACTIVO`: **reactivación**.
          Genera auditoría `REACTIVACION`. Requiere permiso `REACTIVATE_USER`.
        - `{ "estado": "LICENCIA" }`: el usuario sigue existiendo pero no puede marcar
          asistencia. No es una baja.
        - `{ "role_id": X }`: requiere permiso `ASSIGN_ROLES` y anti-escalation.

        **Permisos requeridos:** `EDIT_USER` (para campos personales),
        `ASSIGN_ROLES` (si se incluye `role_id`),
        `REACTIVATE_USER` (si `estado` pasa de `INACTIVO` a `ACTIVO`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchTenantUsuarioRequest'
            examples:
              baja_logica:
                summary: Baja lógica (soft-delete)
                value:
                  estado: "INACTIVO"
              reactivacion:
                summary: Reactivación
                value:
                  estado: "ACTIVO"
              licencia:
                summary: Poner en licencia
                value:
                  estado: "LICENCIA"
              reasignar_area:
                summary: Reasignar áreas
                value:
                  area_ids: [5, 9]
              actualizar_cargo:
                summary: Actualizar cargo
                value:
                  cargo: "Subdirector Académico"
      responses:
        "200":
          description: Usuario actualizado parcialmente. Retorna perfil completo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUserProfile'
        "400":
          description: Body vacío o campo con formato inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: |
            Alguno de:
            - Sin permiso `EDIT_USER`.
            - `role_id` sin permiso `ASSIGN_ROLES`.
            - Reactivación sin permiso `REACTIVATE_USER`.
            - Privilege escalation en `role_id`.
            - Usuario fuera del scope del solicitante.
            - Intento de modificar `document_type` o `document_value`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Usuario no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: |
            Alguno de:
            - El usuario ya tiene el estado solicitado.
            - Conflicto de email.
            - El solicitante intenta darse de baja a sí mismo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: IDs de rol, sede o área inválidos para este tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Usuarios (Tenant)
      summary: Baja lógica de un usuario de tenant (soft-delete)
      operationId: softDeleteTenantUsuario
      description: |
        Aplica baja lógica: establece `estado = INACTIVO` y registra `deleted_at`
        y `deleted_by` en `TenantUser`.

        El usuario **no se elimina físicamente**. Sus registros de asistencia,
        incidencias y auditoría se conservan durante la vigencia del tenant (3 años
[...]
