# Autorizar scripts de construcción esenciales para Angular en entornos limpios
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=esbuild
only-built-dependencies[]=lmdb
only-built-dependencies[]=msgpackr-extract
